
@{
    ViewData["Title"] = "Success";
}
    <div class="row">
        <div class="col">

            <h2>Congratulations, youve made an order</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <p>@Html.ActionLink("Back to home", "Index", "Home")</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>@Html.ActionLink("View Orders", "Orders", "Account")</p>
        </div>
    </div>

