.heading {
    font-family: 'Kaushan Script', cursive;
}

.footer {
    bottom:0;
}

.header {
    height:100px;
}

.pic {
    width:auto;
    height:100%
}

.flex-fill {
    margin:0px !important;
}

.w325 {
    width:325px
}

#carouselExampleIndicators {
    border-radius:15px
}

@media (max-width:350px) {
    .w325 {
        width: 100%
    }
}

.img-container {
  width:140px
